{% extends '_layout.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/register_page.css' %}">
{% endblock %}

{% block content %}
    <main>
        <section class="auth-container">
            <div class="auth-card">
                <div class="auth-tabs">
                    {% if register %}
                    	<div class="auth-tab" id="loginTab">Login</div>
                        <div class="auth-tab active" id="signupTab">Sign Up</div>
                    {% else %}
                        <div class="auth-tab active" id="loginTab">Login</div>
                        <div class="auth-tab" id="signupTab">Sign Up</div>
                    {% endif %}

                </div>

                <div class="auth-content">
                    <!-- Login Form -->
                    <form class="auth-form {% if not register %} active {% endif %}" id="loginForm" method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            {% if created %}
                                <div class="error-message" style="color: #3a56d4!important;">Account Created Successfully!</div>
                            {% endif %}
                            {% if error %}
                                <div class="error-message">{{ message }}</div>
                            {% endif %}
                            <label for="loginEmail">Email Address</label>
                            {{ login_form.email }}
                        </div>
                        <div class="form-group">
                            <label for="loginPassword">Password</label>
                            {{ login_form.password }}
                        </div>
                        <div class="form-footer">
                            <a href="#" class="forgot-password">Forgot password?</a>
                        </div>
                        <button type="submit" class="btn btn-primary">
                            Login
                        </button>
                    </form>

                    <!-- Signup Form -->
                    <form class="auth-form {% if register %} active {% endif %}" id="signupForm" method="post" action="{% url 'register' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="signupName">Full Name</label>
                            {{ register_form.nickname }}
                            {% if register_form.nickname.errors %}
                                <div class="error-message">{{ register_form.nickname.errors }}</div>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="signupEmail">Email Address</label>
                            {{ register_form.email }}
                            {% if register_form.email.errors %}
                                <div class="error-message">{{ register_form.email.errors }}</div>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="signupPassword">Password</label>
                            {{ register_form.password }}
                            {% if register_form.password.errors %}
                                <div class="error-message">{{ register_form.password.errors }}</div>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="signupConfirmPassword">Confirm Password</label>
                            {{ register_form.re_password }}
                            {% if register_form.re_password.errors %}
                                <div class="error-message">{{ register_form.re_password.errors }}</div>
                            {% endif %}
                        </div>

                        <button type="submit" class="btn btn-primary">
                            Create Account
                        </button>
                    </form>
                </div>
            </div>
        </section>
    </main>
{% endblock %}

{% block js %}
    <script src="{% static 'js/register_page.js' %}"></script>
{% endblock %}
